<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de produtos</title>
</head>
<body>
    <!-- esta é a variável produtos='PRODUTO' que foi criada na rota -->
    <h1> Produto
        <hr>
        <ul>
            <!-- utilizando o jinja para redenrizar e listar os produtos -->
            {% for produto in produtos    %}
            <!-- será criado um item para cada produto encontradado no for realizado na lista produtos -->
            <li> {{produto}} </li>



            {% endfor  %}
        </ul>

    </h1>

</body>
</html>